<div class="tile is-ancestor">
  <div class="tile is-vertical parent">
    <aside class="tile is-child has-background-grey box has-text-centered">

      <h5 class="title is-5">Item One</h5>
      <div>
        This is how great Item One is!
      </div>
    </aside>
    <aside class="tile is-child has-background-grey-light box content">
      <h5 class="title-is-5">Support This Site</h5>

      <ul>
        <li>
          Link one
        </li>
        <li>
          Link two
        </li>
        <li>
          Link three
        </li>
      </ul>
    </aside>
  </div>
</div>
